# OS
.DS_Store

# R
.Rhistory
.Rproj.user/

# Quarto build outputs
_book/
.quarto/

# Quarto render cache/intermediates
*_cache/

# Jupyter / Quarto intermediates
.jupyter_cache/
*.quarto_ipynb

# LaTeX temp/scratch
.texpadtmp/
*.log
notes.tex
test.tex

# Backup/scratch files
_old_references.bib
_quarto_backup.yml
_quarto_clean.yml

/.quarto/

/.luarc.json
